<div style="padding: 20px">
  <h1>Animation Angular</h1>
  <button mat-raised-button color="accent" (click)="animate(false)">Animer une fois</button>
  <button mat-raised-button color="accent" (click)="animate(true)">Animer en boucle</button>
  <div [@shake]="rouge" class="square" style="background-color: red;"></div>

  <div [@bounce]="vert" class="square" style="background-color: green;"></div>

  <div [@tada]="bleu" class="square" style="background-color: blue;"></div>
</div>
<div style="padding: 20px">
  <h1>Animation CSS</h1>
  <button mat-raised-button color="accent" (click)="faireTourner()">Faire tourner</button>
  <div [class.rotate-left]="tourner" class="square" style="background-color:orange;"></div>
</div>
